@layout("layouts/app")

@section("helpers")

@endsection

@section("content")
	<div class="container my-5">
		<h1 class="text-center">HOMEPAGE WORKED</h1>
		
		<form action="{{route("store")}}" method="post">
			{{{csrf()}}}
			<div class="clearfix">
				<div class="form-group">
					<input type="text" name="name" class="form-control">
				</div>
				<button class="btn btn-submit btn-primary" type="submit">Submit</button>
			</div>
		</form>
	</div>
@endsection